/* adam.css */

.left-plot {
  width: 60%;
  float: left;
}

.right-code {
  width: 38%;
  float: right;
  padding-left: 1%;

}
 


/* Added by Adam to change code font size */

.huge .remark-code { 
  font-size: 200%;
}

.tiny .remark-code { 
  font-size: 50%;
}

.small .remark-code { 
  font-size: 90%;
}

.huge {
  font-size: 200%;
}

.small {
  font-size: 90%;
}

.tiny {
  font-size: 50%;
}